@media only screen
and (max-width: 480px){


.wholesection {
	width: 480px;
	height: 100%;
	margin: 0 auto;
}

.thumbnails {
	height: 80px;
	width: 480px;
}

.small {
	position: relative;
	height: 100px;
	margin-left: 5px;
}

.imagescroller {
	height: 680px;
	width: 480px;
	position: relative;
	margin: 0 auto;
}

.sidecontrol {
	height: 100%;
	width: 20px;
	position: relative;
	background: red;
	float: left;
	z-index: 100;
}


.sidecontrol:hover{
	background: grey;
	opacity: .5;
}

#rightcontrol{
	float: right;
}

.usermove {
	text-align: center;
	position: relative;
	top: 43%;
}

.active{
	z-index: 99;
}

.activeoff{
	z-index:0;
}

img{
	position: absolute;
}

.avengers {
	position: absolute;
	z-index: 0;
	left: 2px;
}

}