body{
	font-family: 'MedievalSharp', cursive;
	position: relative;
}

h2{
	text-align: center;
	text-decoration: underline;
}

.container{
	width: 100%;
	height: 50vh;
}

.gallery{
	width: 60%;
	margin-left: 20%;
	display: inline-block;
	height: 20%;
}

button{
	display: inline-block;
	width: 5%;
}

.card {
	border: 1em solid #060605;
	border-radius: 1em;
	margin-bottom: 3%;
	width: 90%;
}

.large, .content{
	display: inline-block;
}

.large{
	width: 40%;
}
.content{
	vertical-align: top;
	width: 50%;
	margin-left: 5%;
	margin-right: 5%;
}

img{
	width: 100%;
	height: 100%;
}

