body{
	font-family: 'MedievalSharp', cursive;
	position: relative;
}

h1{
	text-align: center;
	text-decoration: underline;
	font-size: 3em;
	font-weight: 700;
}

h2{
	text-align: center;
	text-decoration: underline;
}

.container{
	width: 80%;
	height: 50%;
	margin: auto;
	text-align: center;
}

.gallery{
	width: 60%;
	display: inline-block;
}

button{
	display: inline-block;
	width: 5%;
	vertical-align: middle;
}

.card {
	border: 1em solid #060605;
	border-radius: 1em;
	margin-bottom: 3%;
}

.large, .content{
	display: inline-block;
}

.large{
	width: 40%;
}
.content{
	vertical-align: top;
	width: 50%;
	margin-left: 5%;
	margin-right: 5%;
}

img{
	width: 100%;
	height: 100%;
}

